@model Northwind.Models.Customer

<form method="post" asp-action="Register">
    <div asp-validation-summary="All"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="@Model.CompanyName">Company Name</label>
                    <input asp-for="@Model.CompanyName" type="text" class="form-control" id="CompanyName">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label asp-for="@Model.Address">Address</label>
                    <input asp-for="@Model.Address" type="text" class="form-control" id="Address">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="@Model.City">City</label>
                    <input asp-for="@Model.City" type="text" class="form-control" id="City">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8 col-md-5">
                <div class="form-group">
                    <label asp-for="@Model.Region">Region</label>
                    <input asp-for="@Model.Region" type="text" class="form-control" id="Region">
                </div>
            </div>
            <div class="col-4 col-md-2">
                <div class="form-group">
                    <label asp-for="@Model.PostalCode">Postal Code</label>
                    <input asp-for="@Model.PostalCode" type="text" class="form-control" id="PostalCode">
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label asp-for="@Model.Country">Country</label>
                    <input asp-for="@Model.Country" type="text" class="form-control" id="Country">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label asp-for="@Model.Phone">Phone</label>
                <input asp-for="@Model.Phone" type="tel" class="form-control" id="Phone">
            </div>
            <div class="form-group col-sm-6">
                <label asp-for="@Model.Fax">Fax</label>
                <input asp-for="@Model.Fax" type="tel" class="form-control" id="Fax">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>